.about{
    text-align: justify;
    font-size: large;
    line-height: 150%;
    height: max-content;
    p{
        padding: 20px 30px 0px 30px;
    }
    padding-bottom: 40px;
}

.main-block{
    background-image: url("../res/markus-spiske-vrbZVyX2k4I-unsplash.jpg");
    height: 83vh;
    margin: 10px 10px 30px 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    p{
        background-color: rgba(20, 172, 53, 0.575);
        position: absolute;
        top: 35%;
        left: 12%;
        color: white;
        font-size: 60px;
        font-weight: 500;
        padding: 0 15px 20px 15px;
    }
}

.block1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        width: 50%;
        height: 30%;
    }
    div{
        background-image: url("../res/markus-spiske-4PG6wLlVag4-unsplash.jpg");
        width: 500px;
        height: 300px;
        background-size: cover;
    }
}

.block2{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        width: 50%;
        height: 30%;
    }
    div{
        background-image: url("../res/tanalee-youngblood-CMdQcxsWZE0-unsplash.jpg");
        width: 400px;
        height: 580px;
        background-size: cover;
    }
}

.block3{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        width: 50%;
        height: 30%;
    }
    div{
        background-image: url("../res/jose-luis-4cy9p7xZTS4-unsplash.jpg");
        width: 500px;
        height: 280px;
        background-size: cover;
    }
}