.chart{
    width: 70%;
}
.realtime{
    display: flex;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            margin-left: 80px;
            width: 100px;
        }
    }
    width: 76%;
}
