.emails-details-wrapper{
    h3{
        padding: 20px;
    }
}

.emaildata-wrapper{
    height: 60vh;
    p{
        background-color: whitesmoke;
        padding: 20px;
        margin: 10px 20px;
        display: flex;
        b{
            width: 11%;
        }
        span{
            width: 89%;
        }
    }
}