.main-wrapper{
    text-decoration: none;
    color: black;
}

.row-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: .5px solid black;
    margin: 10px;
    p{
        padding:5px 5px;
    }
    :hover{
        cursor: pointer;
    }
}

.div1 { 
    grid-area: 1 / 1 / 2 / 2;
}
.div2 { 
    grid-area: 1 / 2 / 2 / 3;
}
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }