.data{
    margin: 10px 20px;
    display: flex;
    height: max-content;
}


.button-wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    button{
        padding: 10px 15px;
        color: white;
        font-weight: 700;
        background-color: blue;
        border: 1px blue solid;

        margin-right: 10px;
        
        -webkit-box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.75);

        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;

    }
    button:hover{
        cursor: pointer;

        -webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
        box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
    }
}

#plant-button{
    background-color: rgb(110, 134, 62);
    border-color: rgb(110, 134, 62);
}