.header{
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            li{
                padding: 10px;
                font-weight: 600;
                font-size: large;
                a{
                    text-decoration: none;
                    color: green;
                    text-decoration: underline;
                }
            }

            div{
                background-image: url("./plant-image.jpg");   
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 100px;
                height: 100px;
                margin: 0px 20px;
            }
        }
    }
    
    h2{
        padding: 10px;
        text-align: center;
    }
}


#mail-box{
    position: relative;
    a{
        span{
            position: absolute;
            top: 0;
            background-color: red;
            color: white;
            padding: 2px;
            border-radius: 100%;
            font-weight: 500;
            font-size: small;
        }
    }
}
