.table{
    width: 50%;
    h3{
        text-align: center;
    }
}

.table-data{
    text-align: center;
    margin-top: 20px;
    font-size: medium;
    border: 1px solid black;
    width: 100%;

    // table row data
    td{
        padding: 10px 3px;
    }
}

.table-headings{
    th{
        padding: 10px 3px;
        border: 0px solid #0B6FA4;
    }
}

.column-blue{
    background-color: #0B6FA4;
    color: white;
    td{
        border: 0px solid #0B6FA4;
    }
}

.column-white{
    border: 1px solid white;
}